.grid-container {
  display: grid;
  grid-template-columns: repeat(20, 1fr);
  grid-template-rows: repeat(20, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  width: 300px;
  height: 300px;
  position: relative;
  left: 25%;
  top: 250px;

  grid-template-areas:
    "div1   div2   div3   div4   div5   div6   div7   div8   div9   div10  div11  div12  div13  div14  div15  div16  div17  div18  div19  div20"
    "div21  div22  div23  div24  div25  div26  div27  div28  div29  div30  div31  div32  div33  div34  div35  div36  div37  div38  div39  div40"
    "div41  div42  div43  div44  div45  div46  div47  div48  div49  div50  div51  div52  div53  div54  div55  div56  div57  div58  div59  div60"
    "div61  div62  div63  div64  div65  div66  div67  div68  div69  div70  div71  div72  div73  div74  div75  div76  div77  div78  div79  div80"
    "div81  div82  div83  div84  div85  div86  div87  div88  div89  div90  div91  div92  div93  div94  div95  div96  div97  div98  div99  div100"
    "div101 div102 div103 div104 div105 div106 div107 div108 div109 div110 div111 div112 div113 div114 div115 div116 div117 div118 div119 div120"
    "div121 div122 div123 div124 div125 div126 div127 div128 div129 div130 div131 div132 div133 div134 div135 div136 div137 div138 div139 div140"
    "div141 div142 div143 div144 div145 div146 div147 div148 div149 div150 div151 div152 div153 div154 div155 div156 div157 div158 div159 div160"
    "div161 div162 div163 div164 div165 div166 div167 div168 div169 div170 div171 div172 div173 div174 div175 div176 div177 div178 div179 div180"
    "div181 div182 div183 div184 div185 div186 div187 div188 div189 div190 div191 div192 div193 div194 div195 div196 div197 div198 div199 div200"
    "div201 div202 div203 div204 div205 div206 div207 div208 div209 div210 div211 div212 div213 div214 div215 div216 div217 div218 div219 div220"
    "div221 div222 div223 div224 div225 div226 div227 div228 div229 div230 div231 div232 div233 div234 div235 div236 div237 div238 div239 div240"
    "div241 div242 div243 div244 div245 div246 div247 div248 div249 div250 div251 div252 div253 div254 div255 div256 div257 div258 div259 div260"
    "div261 div262 div263 div264 div265 div266 div267 div268 div269 div270 div271 div272 div273 div274 div275 div276 div277 div278 div279 div280"
    "div281 div282 div283 div284 div285 div286 div287 div288 div289 div290 div291 div292 div293 div294 div295 div296 div297 div298 div299 div300"
    "div301 div302 div303 div304 div305 div306 div307 div308 div309 div310 div311 div312 div313 div314 div315 div316 div317 div318 div319 div320"
    "div321 div322 div323 div324 div325 div326 div327 div328 div329 div330 div331 div332 div333 div334 div335 div336 div337 div338 div339 div340"
    "div341 div342 div343 div344 div345 div346 div347 div348 div349 div350 div351 div352 div353 div354 div355 div356 div357 div358 div359 div360"
    "div361 div362 div363 div364 div365 div366 div367 div368 div369 div370 div371 div372 div373 div374 div375 div376 div377 div378 div379 div380"
    "div381 div382 div383 div384 div385 div386 div387 div388 div389 div390 div391 div392 div393 div394 div395 div396 div397 div398 div399 div400";
}

.grid-container div {
  width: 30px;
  height: 30px;
  background-color: blue;
  left: 0;
}
  
.div1 { grid-area: div1; }
.div2 { grid-area: div2; }
.div3 { grid-area: div3; }
.div4 { grid-area: div4; }
.div5 { grid-area: div5; }
.div4 { grid-area: div4; } 
.div5 { grid-area: div5; }
.div6 { grid-area: div6; }
.div7 { grid-area: div7; }
.div8 { grid-area: div8; }
.div9 { grid-area: div9; }
.div10 { grid-area: div10; }
.div11 { grid-area: div11; }
.div12 { grid-area: div12; }
.div13 { grid-area: div13; }
.div14 { grid-area: div14; }
.div15 { grid-area: div15; }
.div16 { grid-area: div16; }
.div17 { grid-area: div17; }
.div18 { grid-area: div18; }
.div19 { grid-area: div19; }
.div20 { grid-area: div20; }
.div21 { grid-area: div21; }
.div22 { grid-area: div22; }
.div23 { grid-area: div23; }
.div24 { grid-area: div24; }
.div25 { grid-area: div25; }
.div26 { grid-area: div26; }
.div27 { grid-area: div27; }
.div28 { grid-area: div28; }
.div29 { grid-area: div29; }
.div30 { grid-area: div30; }
.div31 { grid-area: div31; }
.div32 { grid-area: div32; }
.div33 { grid-area: div33; }
.div34 { grid-area: div34; }
.div35 { grid-area: div35; }
.div36 { grid-area: div36; }
.div37 { grid-area: div37; }
.div38 { grid-area: div38; }
.div39 { grid-area: div39; }
.div40 { grid-area: div40; }
.div41 { grid-area: div41; }
.div42 { grid-area: div42; }
.div43 { grid-area: div43; }
.div44 { grid-area: div44; }
.div45 { grid-area: div45; }
.div46 { grid-area: div46; }
.div47 { grid-area: div47; }
.div48 { grid-area: div48; }
.div49 { grid-area: div49; }
.div50 { grid-area: div50; }
.div51 { grid-area: div51; }
.div52 { grid-area: div52; }
.div53 { grid-area: div53; }
.div54 { grid-area: div54; }
.div55 { grid-area: div55; }
.div56 { grid-area: div56; }
.div57 { grid-area: div57; }
.div58 { grid-area: div58; }
.div59 { grid-area: div59; }
.div60 { grid-area: div60; }
.div61 { grid-area: div61; }
.div62 { grid-area: div62; }
.div63 { grid-area: div63; }
.div64 { grid-area: div64; }
.div65 { grid-area: div65; }
.div66 { grid-area: div66; }
.div67 { grid-area: div67; }
.div68 { grid-area: div68; }
.div69 { grid-area: div69; }
.div70 { grid-area: div70; }
.div71 { grid-area: div71; }
.div72 { grid-area: div72; }
.div73 { grid-area: div73; }
.div74 { grid-area: div74; }
.div75 { grid-area: div75; }
.div76 { grid-area: div76; }
.div77 { grid-area: div77; }
.div78 { grid-area: div78; }
.div79 { grid-area: div79; }
.div80 { grid-area: div80; }
.div81 { grid-area: div81; }
.div82 { grid-area: div82; }
.div83 { grid-area: div83; }
.div84 { grid-area: div84; }
.div85 { grid-area: div85; }
.div86 { grid-area: div86; }
.div87 { grid-area: div87; }
.div88 { grid-area: div88; }
.div89 { grid-area: div89; }
.div90 { grid-area: div90; }
.div91 { grid-area: div91; }
.div92 { grid-area: div92; }
.div93 { grid-area: div93; }
.div94 { grid-area: div94; }
.div95 { grid-area: div95; }
.div96 { grid-area: div96; }
.div97 { grid-area: div97; }
.div98 { grid-area: div98; }
.div99 { grid-area: div99; }
.div100 { grid-area: div100; }
.div101 { grid-area: div101; }
.div102 { grid-area: div102; }
.div103 { grid-area: div103; }
.div104 { grid-area: div104; }
.div105 { grid-area: div105; }
.div106 { grid-area: div106; }
.div107 { grid-area: div107; }
.div108 { grid-area: div108; }
.div109 { grid-area: div109; }
.div110 { grid-area: div110; }
.div111 { grid-area: div111; }
.div112 { grid-area: div112; }
.div113 { grid-area: div113; }
.div114 { grid-area: div114; }
.div115 { grid-area: div115; }
.div116 { grid-area: div116; }
.div117 { grid-area: div117; }
.div118 { grid-area: div118; }
.div119 { grid-area: div119; }
.div120 { grid-area: div120; }
.div121 { grid-area: div121; }
.div122 { grid-area: div122; }
.div123 { grid-area: div123; }
.div124 { grid-area: div124; }
.div125 { grid-area: div125; }
.div126 { grid-area: div126; }
.div127 { grid-area: div127; }
.div128 { grid-area: div128; }
.div129 { grid-area: div129; }
.div130 { grid-area: div130; }
.div131 { grid-area: div131; }
.div132 { grid-area: div132; }
.div133 { grid-area: div133; }
.div134 { grid-area: div134; }
.div135 { grid-area: div135; }
.div136 { grid-area: div136; }
.div137 { grid-area: div137; }
.div138 { grid-area: div138; }
.div139 { grid-area: div139; }
.div140 { grid-area: div140; }
.div141 { grid-area: div141; }
.div142 { grid-area: div142; }
.div143 { grid-area: div143; }
.div144 { grid-area: div144; }
.div145 { grid-area: div145; }
.div146 { grid-area: div146; }
.div147 { grid-area: div147; }
.div148 { grid-area: div148; }
.div149 { grid-area: div149; }
.div150 { grid-area: div150; }
.div151 { grid-area: div151; }
.div152 { grid-area: div152; }
.div153 { grid-area: div153; }
.div154 { grid-area: div154; }
.div155 { grid-area: div155; }
.div156 { grid-area: div156; }
.div157 { grid-area: div157; }
.div158 { grid-area: div158; }
.div159 { grid-area: div159; }
.div160 { grid-area: div160; }
.div161 { grid-area: div161; }
.div162 { grid-area: div162; }
.div163 { grid-area: div163; }
.div164 { grid-area: div164; }
.div165 { grid-area: div165; }
.div166 { grid-area: div166; }
.div167 { grid-area: div167; }
.div168 { grid-area: div168; }
.div169 { grid-area: div169; }
.div170 { grid-area: div170; }
.div171 { grid-area: div171; }
.div172 { grid-area: div172; }
.div173 { grid-area: div173; }
.div174 { grid-area: div174; }
.div175 { grid-area: div175; }
.div176 { grid-area: div176; }
.div177 { grid-area: div177; }
.div178 { grid-area: div178; }
.div179 { grid-area: div179; }
.div180 { grid-area: div180; }
.div181 { grid-area: div181; }
.div182 { grid-area: div182; }
.div183 { grid-area: div183; }
.div184 { grid-area: div184; }
.div185 { grid-area: div185; }
.div186 { grid-area: div186; }
.div187 { grid-area: div187; }
.div188 { grid-area: div188; }
.div189 { grid-area: div189; }
.div190 { grid-area: div190; }
.div191 { grid-area: div191; }
.div192 { grid-area: div192; }
.div193 { grid-area: div193; }
.div194 { grid-area: div194; }
.div195 { grid-area: div195; }
.div196 { grid-area: div196; }
.div197 { grid-area: div197; }
.div198 { grid-area: div198; }
.div199 { grid-area: div199; }
.div200 { grid-area: div200; }
.div201 { grid-area: div201; }
.div202 { grid-area: div202; }
.div203 { grid-area: div203; }
.div204 { grid-area: div204; }
.div205 { grid-area: div205; }
.div206 { grid-area: div206; }
.div207 { grid-area: div207; }
.div208 { grid-area: div208; }
.div209 { grid-area: div209; }
.div210 { grid-area: div210; }
.div211 { grid-area: div211; }
.div212 { grid-area: div212; }
.div213 { grid-area: div213; }
.div214 { grid-area: div214; }
.div215 { grid-area: div215; }
.div216 { grid-area: div216; }
.div217 { grid-area: div217; }
.div218 { grid-area: div218; }
.div219 { grid-area: div219; }
.div220 { grid-area: div220; }
.div221 { grid-area: div221; }
.div222 { grid-area: div222; }
.div223 { grid-area: div223; }
.div224 { grid-area: div224; }
.div225 { grid-area: div225; }
.div226 { grid-area: div226; }
.div227 { grid-area: div227; }
.div228 { grid-area: div228; }
.div229 { grid-area: div229; }
.div230 { grid-area: div230; }
.div231 { grid-area: div231; }
.div232 { grid-area: div232; }
.div233 { grid-area: div233; }
.div234 { grid-area: div234; }
.div235 { grid-area: div235; }
.div236 { grid-area: div236; }
.div237 { grid-area: div237; }
.div238 { grid-area: div238; }
.div239 { grid-area: div239; }
.div240 { grid-area: div240; }
.div241 { grid-area: div241; }
.div242 { grid-area: div242; }
.div243 { grid-area: div243; }
.div244 { grid-area: div244; }
.div245 { grid-area: div245; }
.div246 { grid-area: div246; }
.div247 { grid-area: div247; }
.div248 { grid-area: div248; }
.div249 { grid-area: div249; }
.div250 { grid-area: div250; }
.div251 { grid-area: div251; }
.div252 { grid-area: div252; }
.div253 { grid-area: div253; }
.div254 { grid-area: div254; }
.div255 { grid-area: div255; }
.div256 { grid-area: div256; }
.div257 { grid-area: div257; }
.div258 { grid-area: div258; }
.div259 { grid-area: div259; }
.div260 { grid-area: div260; }
.div261 { grid-area: div261; }
.div262 { grid-area: div262; }
.div263 { grid-area: div263; }
.div264 { grid-area: div264; }
.div265 { grid-area: div265; }
.div266 { grid-area: div266; }
.div267 { grid-area: div267; }
.div268 { grid-area: div268; }
.div269 { grid-area: div269; }
.div270 { grid-area: div270; }
.div271 { grid-area: div271; }
.div272 { grid-area: div272; }
.div273 { grid-area: div273; }
.div274 { grid-area: div274; }
.div275 { grid-area: div275; }
.div276 { grid-area: div276; }
.div277 { grid-area: div277; }
.div278 { grid-area: div278; }
.div279 { grid-area: div279; }
.div280 { grid-area: div280; }
.div281 { grid-area: div281; }
.div282 { grid-area: div282; }
.div283 { grid-area: div283; }
.div284 { grid-area: div284; }
.div285 { grid-area: div285; }
.div286 { grid-area: div286; }
.div287 { grid-area: div287; }
.div288 { grid-area: div288; }
.div289 { grid-area: div289; }
.div290 { grid-area: div290; }
.div291 { grid-area: div291; }
.div292 { grid-area: div292; }
.div293 { grid-area: div293; }
.div294 { grid-area: div294; }
.div295 { grid-area: div295; }
.div296 { grid-area: div296; }
.div297 { grid-area: div297; }
.div298 { grid-area: div298; }
.div299 { grid-area: div299; }
.div300 { grid-area: div300; }
.div301 { grid-area: div301; }
.div302 { grid-area: div302; }
.div303 { grid-area: div303; }
.div304 { grid-area: div304; }
.div305 { grid-area: div305; }
.div306 { grid-area: div306; }
.div307 { grid-area: div307; }
.div308 { grid-area: div308; }
.div309 { grid-area: div309; }
.div310 { grid-area: div310; }
.div311 { grid-area: div311; }
.div312 { grid-area: div312; }
.div313 { grid-area: div313; }
.div314 { grid-area: div314; }
.div315 { grid-area: div315; }
.div316 { grid-area: div316; }
.div317 { grid-area: div317; }
.div318 { grid-area: div318; }
.div319 { grid-area: div319; }
.div320 { grid-area: div320; }
.div321 { grid-area: div321; }
.div322 { grid-area: div322; }
.div323 { grid-area: div323; }
.div324 { grid-area: div324; }
.div325 { grid-area: div325; }
.div326 { grid-area: div326; }
.div327 { grid-area: div327; }
.div328 { grid-area: div328; }
.div329 { grid-area: div329; }
.div330 { grid-area: div330; }
.div331 { grid-area: div331; }
.div332 { grid-area: div332; }
.div333 { grid-area: div333; }
.div334 { grid-area: div334; }
.div335 { grid-area: div335; }
.div336 { grid-area: div336; }
.div337 { grid-area: div337; }
.div338 { grid-area: div338; }
.div339 { grid-area: div339; }
.div340 { grid-area: div340; }
.div341 { grid-area: div341; }
.div342 { grid-area: div342; }
.div343 { grid-area: div343; }
.div344 { grid-area: div344; }
.div345 { grid-area: div345; }
.div346 { grid-area: div346; }
.div347 { grid-area: div347; }
.div348 { grid-area: div348; }
.div349 { grid-area: div349; }
.div350 { grid-area: div350; }
.div351 { grid-area: div351; }
.div352 { grid-area: div352; }
.div353 { grid-area: div353; }
.div354 { grid-area: div354; }
.div355 { grid-area: div355; }
.div356 { grid-area: div356; }
.div357 { grid-area: div357; }
.div358 { grid-area: div358; }
.div359 { grid-area: div359; }
.div360 { grid-area: div360; }
.div361 { grid-area: div361; }
.div362 { grid-area: div362; }
.div363 { grid-area: div363; }
.div364 { grid-area: div364; }
.div365 { grid-area: div365; }
.div366 { grid-area: div366; }
.div367 { grid-area: div367; }
.div368 { grid-area: div368; }
.div369 { grid-area: div369; }
.div370 { grid-area: div370; }
.div371 { grid-area: div371; }
.div372 { grid-area: div372; }
.div373 { grid-area: div373; }
.div374 { grid-area: div374; }
.div375 { grid-area: div375; }
.div376 { grid-area: div376; }
.div377 { grid-area: div377; }
.div378 { grid-area: div378; }
.div379 { grid-area: div379; }
.div380 { grid-area: div380; }
.div381 { grid-area: div381; }
.div382 { grid-area: div382; }
.div383 { grid-area: div383; }
.div384 { grid-area: div384; }
.div385 { grid-area: div385; }
.div386 { grid-area: div386; }
.div387 { grid-area: div387; }
.div388 { grid-area: div388; }
.div389 { grid-area: div389; }
.div390 { grid-area: div390; }
.div391 { grid-area: div391; }
.div392 { grid-area: div392; }
.div393 { grid-area: div393; }
.div394 { grid-area: div394; }
.div395 { grid-area: div395; }
.div396 { grid-area: div396; }
.div397 { grid-area: div397; }
.div398 { grid-area: div398; }
.div399 { grid-area: div399; }
.div400 { grid-area: div400; }